@model SalesIncomeDisplayViewModel

@{
    ViewData["Title"] = "Monthly Income Result";
}



<div class="dailyIncomeResultContainer">
    <h2>Daily Income for @Model.TransactionDate.ToString("yyyy-MM")</h2>

    <br />

    <h3>Income: @(($"{Model.Income.ToString()} Leva. / {(Model.Income / 2).ToString()} EUR."))</h3>
</div>
